.container {
    /* full width */
  width: 100%;
  /* Fixed height */
  height: 60px;
  background-color: #8568ff;
  /* flex box */
  display: flex;
  align-items:center;
  justify-content: center;
}

.green-box {
  max-width: 500px;
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  background-color: green;
  margin-left: auto;
  margin-right: auto;
}

.red-box {
  max-width: 200px;
  background-color: red;
}

.active {
 opacity: 0.5;
}