.container {
    /* full width */
  width: 100%;
  /* Fixed height */
  height: 60px;
  background-color: #8568ff;
  /* flex box */
  display: flex;
  align-items:center;
  justify-content: center;
}
.logo {
  max-height: 40px;
  max-width: auto;
}
.menu {
 width: 900px;
  display: flex;
  justify-content: space-between;
  flex-direction:row;
  /* background-color: green; */
  margin-left: auto;
  margin-right: auto;
}

.navLinks {
  width: 500px;
  display: flex;
  justify-content:space-between;
  flex-direction:row;
  margin-left: auto;
  margin-right: auto;
}

.navLinks div {
  font-size: x-large
}

.inputNavBar {
  width: 50px;
  margin-left: 100px;
}

.inputNavBar input {
  width: 160px;
  height: 25px
}

.icon-container {
  width: 120px;
  /* background-color: red; */
  display:flex;
  justify-content:space-between;
  margin-right: 30px;
}

.navLinks a {
  text-decoration: none;
  color: rgb(9, 10, 10);
}

.navLinks a:hover {
  text-decoration: underline;
}

.navLinks a:active {
 color: white;
}

.navbar-button {
  background-color:#8568ff;
 border: none;

}

.login-link {
  color:black
}

.login-link:hover {
  color: white
}