
.product-detail-img-container {
    width: 375px;
    height: 487px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.productDetailImg {
    width: 100%;
    height: 100%;
    object-fit:contain
}

.detailView {
    width: 750px;
    display: flex;
    margin: 50px auto;
    padding-bottom: 100px;
}

.details {
    display:flex;
    flex-direction: column;
    align-items:baseline;
    justify-content: space-evenly;
    width: 500px;
    margin: auto 30px
}

.shareIcons {
    width: 150px;
    display:flex;
    justify-content: space-between;
}

.rating-part {
    width: 250px;
    display:flex;
    align-items: baseline;
    justify-content: space-between;
}

.two-buttons {
    width: 350px;
    display:flex;
    align-items: baseline;
    justify-content: space-between;
}

p {
    text-align: justify;
}